* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  min-height: 100vh;
display: flex;
flex-direction: column;
} 

section {
  display: flex;
  flex-grow: 1;
  min-width: auto;
  /* content inside this section are aligned in columns */
}

nav {
  padding: 20px;
  background-color: gray;
}

article {
  padding: 50px;
  background-color: lightgray;
  
}

header {
  background-color: darkgrey;
  height: 60px;
  /* text-align: center; */
  display: flex;
  /* using flexbox to center 'Countries' horizontally and(!) vertically, inside the button! */
  justify-content: center;
  align-items: center;
}

header h2 {
  font-size: 30px;
  /* padding: 10px; */
}

footer {
  text-align: center;
  background-color: darkgray;
  color: white;
  height: 60px;
  /* text-align: center; */
  display: flex;
  /* using flexbox to center 'Countries' horizontally and(!) vertically, inside the button! */
  justify-content: center;
  align-items: center;

}

li {
  list-style:none;
  padding: 10px;
}
p {
  margin-top: 10px;
  margin-bottom: 15px;
}
a {
  text-decoration: none black;
}

img {
  max-width: 250px;
  border-radius: 20px;
  border: solid;
}

@media (max-width: 600px) {
  section {
    display: block;
  }
  nav {
    text-align: center;
  }
}